/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
volumes

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

.idea
vendor
tmp